#ignore test output
projects/*/src/*.out

#ignore build result
projects/*/build

#ignore vs conf
projects/*/.vs
projects/*/.vscode
projects/*/CMakePresets.json

#ignore the tools they can be dowloaded at
#URL:https://drive.google.com/open?id=1xZzcMIUETv3u3sdpM_oTJSTetpVee3KZ
tools/*

