#ignore test output
projects/**/src/*.out

#ignore build result
projects/**/build

#ignore vs conf
projects/**/.vs
projects/**/.vscode
projects/**/.idea
projects/**/build
projects/**/include
!projects/**/include/CMakeLists.txt
projects/**/docs
!projects/**/docs/CMakeLists.txt
projects/**/__pycache__
projects/06/test/resources/HackAssembler/**/*.hack
!projects/06/test/resources/HackAssembler/**/*test.hack
SoftwareSuite/InstallDir
SoftwareSuite/**/target

