---
Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    hicpp-*,
    llvm-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    clang-analyzer-*
WarningsAsErrors: true
HeaderFileExtensions: ['h']
ImplementationFileExtensions: ['cpp']
HeaderFilterRegex: "^(include)"
UseColor: true
FormatStyle: llvm