---
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentAccessModifiers: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertBraces: true
LineEnding: CRLF
QualifierAlignment: Left
ReflowComments: Never
SeparateDefinitionBlocks: Always
UseTab: Always
Language: Cpp