Checks: >
  -*,
  readability-*,
  performance-*,
  portability-*,
  clang-analyzer-*
WarningsAsErrors: 'true'
HeaderFilterRegex: '^(include)'
AnalyzeTemporaryDtors: false
InheritParentConfig: false
SystemHeaders: false
UseColor: true
FormatStyle: none
ExtraArgsBefore: false
ExtraArgs: false
